In [1]:
import pandas as pd

In [2]:
df = pd.read('./ex1.csv')

AttributeError: module 'pandas' has no attribute 'read'

In [3]:
df = pd.read_csv('./ex1.csv')

EmptyDataError: No columns to parse from file

In [4]:
df = pd.read_csv('./ex1.csv')

In [5]:
df

   a   b   c   d message
0  1   2   3   4   Hello
1  5   6   7   8   World
2  9  10  11  12     foo

In [6]:
pd.read_table('./ex1.csv',sep=',')

D:\Software\Anaconda\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.

   a   b   c   d message
0  1   2   3   4   Hello
1  5   6   7   8   World
2  9  10  11  12     foo

In [7]:
pd.read_csv('./ex2.csv',header=None)

   0   1   2   3      4
0  1   2   3   4  Hello
1  5   6   7   8  World
2  9  10  11  12    foo

In [8]:
pd.read_csv('./ex2.csv',names=['a','b','c','d'])

    a   b   c      d
1   2   3   4  Hello
5   6   7   8  World
9  10  11  12    foo

In [9]:
names = ['a','b','c','d','message']

In [10]:
pa.read_csv('./ex2.csv',names=names,index_col='message')

NameError: name 'pa' is not defined

In [11]:
pd.read_csv('./ex2.csv',names=names,index_col='message')

         a   b   c   d
message
Hello    1   2   3   4
World    5   6   7   8
foo      9  10  11  12

In [12]:
pd.read_csv('./csv_mindex.csv',index_col=['key1','key2'])

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          5       6
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [13]:
list(open('./ex3.txt'))

['A,B,C\n',
 'aaa,4323,3423,5463\n',
 'bbb,243432,5465,7675\n',
 'ccc,65343,4635,43534']

In [14]:
pd.read_table('./ex3.txt',sep='\s+')

D:\Software\Anaconda\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.

                  A,B,C
0    aaa,4323,3423,5463
1  bbb,243432,5465,7675
2  ccc,65343,4635,43534

In [15]:
list(open('./ex3.txt'))

['A B C\n',
 'aaa 4323 3423 5463\n',
 'bbb 243432 5465 7675\n',
 'ccc 65343 4635 43534']

In [16]:
pd.read_table('./ex3.txt',sep='\s+')

D:\Software\Anaconda\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.

          A     B      C
aaa    4323  3423   5463
bbb  243432  5465   7675
ccc   65343  4635  43534

In [17]:
pd.read_csv('ex4.csv',skiprows=[0,2,3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [18]:
pd.read_csv('ex5.csv')

  something   a   b     c   d message
0        one  1   2   3.0   4     NaN
1        two  5   6   NaN   8   world
2      three  9  10  11.0  12     foo

In [19]:
result = pd.read_csv('ex5.csv')

In [20]:
pd.isnull(result)

   something       a      b      c      d  message
0       False  False  False  False  False     True
1       False  False  False   True  False    False
2       False  False  False  False  False    False

In [21]:
result = pd.read_csv('ex5.csv',na_values=['NULL'])

In [22]:
result

  something   a   b     c   d message
0        one  1   2   3.0   4     NaN
1        two  5   6   NaN   8   world
2      three  9  10  11.0  12     foo

In [23]:
sentinels = {'message':['foo','NA'],'something':['two']}

In [24]:
pd.read_csv('./ex5.csv',na_values=sentinels)

  something   a   b     c   d message
0        one  1   2   3.0   4     NaN
1        two  5   6   NaN   8   world
2      three  9  10  11.0  12     NaN

In [25]:
pd.options.display.max_rows = 10

In [26]:
result = pd.read_csv('example/ex6.csv')

FileNotFoundError: [Errno 2] File b'example/ex6.csv' does not exist: b'example/ex6.csv'

In [27]:
result = pd.read_csv('examples/ex6.csv')

In [28]:
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [29]:
result = pd.read_csv('examples/ex6.csv',nrows = 5)

In [30]:
result

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [31]:
chunker = pd.read_csv('examples/ex6.csv',chunksize = 1000)

In [32]:
chuanker

NameError: name 'chuanker' is not defined

In [33]:
chunker

In [34]:
tot = pd.Series([])

In [35]:
for piece in chunker:

SyntaxError: unexpected EOF while parsing (<ipython-input-35-651c1bbffd9e>, line 1)

In [36]:
for piece in chunker
    tot = tot.add(piece['key'].value_counts(),fill_value=0)
tot = tot.sort_values(ascending = False)

SyntaxError: invalid syntax (<ipython-input-36-6600e121afed>, line 1)

In [37]:
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(),fill_value=0)
tot = tot.sort_values(ascending = False)

In [38]:
tot[:10]

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

In [39]:
data = pd.read_csv('examples/ex5.csv')

In [40]:
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [41]:
data.to_csv('results/out.csv')

In [42]:
!cat results/out.csv

'cat'

In [43]:
!Type results/out.csv

In [44]:
!type results/out.csv

In [45]:
type results/out.csv

SyntaxError: invalid syntax (<ipython-input-45-ef44b9bc5984>, line 1)

In [46]:
!type results/out.csv!type

In [47]:
!TYPE results/out.csv

In [48]:
!type results/out.csv

In [49]:
pd.read_csv('results/out.csv')

   Unnamed: 0 something  a   b     c   d message
0           0       one  1   2   3.0   4     NaN
1           1       two  5   6   NaN   8   world
2           2     three  9  10  11.0  12     foo

In [50]:
import sys

In [51]:
data.to_csv(sys.stdout,sep = '|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [52]:
data.to_csv(sys.stdout,na_sep = 'NULL')

TypeError: to_csv() got an unexpected keyword argument 'na_sep'

In [53]:
data.to_csv(sys.stdout,na_rep = 'NULL')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [54]:
data.to_csv(sys.stdout,index=False,columns = ['a','b','c'])

a,b,c
1,2,3.0
5,6,
9,10,11.0

In [55]:
datas = pd.data_range('1/1/2000',periods=7)

AttributeError: module 'pandas' has no attribute 'data_range'

In [56]:
datas = pd.date_range('1/1/2000',periods=7)

In [57]:
ts = pd.Series(np.arange(7),index=dates)

NameError: name 'np' is not defined

In [58]:
import numpy as np

In [59]:
ts = pd.Series(np.arange(7),index = dates)

NameError: name 'dates' is not defined

In [60]:
dates = pd.date_range('1/1/2000',periods=7)

In [61]:
ts = pd.Series(np.arange(7),index = dates)

In [62]:
ts.to_csv('results/tseries.csv')

D:\Software\Anaconda\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [63]:
pd.read_csv('results/tseries.csv')

   2000-01-01  0
0  2000-01-02  1
1  2000-01-03  2
2  2000-01-04  3
3  2000-01-05  4
4  2000-01-06  5
5  2000-01-07  6

In [64]:
import csv

In [65]:
f = open('examples/ex7.csv')

In [66]:
reader = csv.reader(f)

In [67]:
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [68]:
with open('examples/ex7.csv') as f:
    lines = list(csv.reader(f))

In [69]:
header , values = lines[0],lines[1:]

In [70]:
data_dict = {h : v for h,v in zip(header,zip(*values))}

In [71]:
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [72]:
class my_dialect(csv.Dialect):
    lineterminator = '\n'

In [73]:
class my_dialect2(csv.Dialect):
    lineterminator = '\n'
    delimiter = ';'
    quotechar = '"'
    quoting = csv.QUOTE_MINIMAL
reader = csv.reader(f,dialect = mydialect2)

NameError: name 'mydialect2' is not defined

In [74]:
class my_dialect2(csv.Dialect):
    lineterminator = '\n'
    delimiter = ';'
    quotechar = '"'
    quoting = csv.QUOTE_MINIMAL
reader = csv.reader(f,dialect = my_dialect2)

TypeError: argument 1 must be an iterator

In [75]:
f = open('examples/ex7.csv')

In [76]:
class my_dialect2(csv.Dialect):
    lineterminator = '\n'
    delimiter = ';'
    quotechar = '"'
    quoting = csv.QUOTE_MINIMAL
reader = csv.reader(f,dialect = my_dialect2)

In [77]:
reader

In [78]:
import json

In [79]:
obj = """
    {"name":"Wes",
    "places_lived":["United States","Spain","Germany"],
    "pet":null,
    "siblings":[{"name":"scott","age":30,"pets":["zeus","zuko"]},
                {"name":"katie","age":38,"pets":["Sixes","Stache","Cison"]}]}
"""

In [80]:
result = json.load(obj)

AttributeError: 'str' object has no attribute 'read'

In [81]:
result = json.loads(obj)

In [82]:
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'scott', 'age': 30, 'pets': ['zeus', 'zuko']},
  {'name': 'katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cison']}]}

In [83]:
asjoson = json.dumps(result)

In [84]:
asjoson

'{"name": "Wes", "places_lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "scott", "age": 30, "pets": ["zeus", "zuko"]}, {"name": "katie", "age": 38, "pets": ["Sixes", "Stache", "Cison"]}]}'

In [85]:
siblings = pd.DataFrame(result['siblings'],columns=['name','age'])

In [86]:
siblings

    name  age
0  scott   30
1  katie   38

In [87]:
tables = pd.read_html('examples/fdic_failed_bank_list.html')

In [88]:
len(tables)

1

In [89]:
failures  = tables[0]

In [90]:
failures.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"

In [91]:
close_timestamps = pd.to_datetime(failures['Closing Date'])

In [92]:
close_timestamps.dt.year.value_counts()

2010    157
2009    140
2011     92
2012     51
2008     25
       ...
2004      4
2001      4
2007      3
2003      3
2000      2
Name: Closing Date, Length: 15, dtype: int64

In [93]:
from lxml import objectify

In [94]:
path = 'datasets/mta_perf/Performance_MNR.xml'

In [95]:
parsed = objectify.parse(open(path))

In [96]:
root = parsed.getroot()

In [97]:
data = []

In [98]:
skip_fields=['PARENT_SEQ','INDICATOR_SEQ','DESIRED_CHANGE','DECIMAL_PLACES']

In [99]:
for elt in root.INDICATOR:
    el_data = {}
    for child in elt.getchildren():
        if child.tag in skip_fields:
            continue
        el_data[child.tag] = child.pyval
    data.append(el_data)

In [100]:
perf = pd.DataFrame(data)

In [101]:
perf.head()

,AGENCY_NAME,CATEGORY,DESCRIPTION,FREQUENCY,INDICATOR_NAME,INDICATOR_UNIT,MONTHLY_ACTUAL,MONTHLY_TARGET,PERIOD_MONTH,PERIOD_YEAR,YTD_ACTUAL,YTD_TARGET
0,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.9,95,1,2008,96.9,95
1,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,95,95,2,2008,96,95
2,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.9,95,3,2008,96.3,95
3,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,98.3,95,4,2008,96.8,95
4,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,95.8,95,5,2008,96.6,95

In [102]:
frame = pd.DataFrame({'a':np.random.readn(100)})

AttributeError: module 'numpy.random' has no attribute 'readn'

In [103]:
frame = pd.DataFrame({'a':np.random.randn(100)})

In [104]:
store = pd.HDFStore('mydata.h5')

In [105]:
store['obj1'] = frame

In [106]:
store['onj1_col'] = frame['a']

In [107]:
store

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

In [108]:
store['obj1']

           a
0   2.305491
1  -0.723968
2  -0.434800
3  -0.997038
4   0.029844
..       ...
95 -1.062864
96  0.344002
97  0.709313
98  1.005264
99 -1.739700

[100 rows x 1 columns]

In [109]:
store.put('obj2',frame,format = 'table')

In [110]:
store.select('obj2',where=['index >= 10 and index <= 15'])

           a
10 -1.105200
11 -0.413451
12  1.570516
13  2.350198
14  0.716831
15  1.771372

In [111]:
store.close()

In [112]:
store['obj2'] = frame

ClosedFileError: mydata.h5 file is not open!

In [113]:
pd.read_excel(xlsx,'Sheet1')

NameError: name 'xlsx' is not defined

In [114]:
xlsx = pd.ExcelFile('examples/ex1.xlsx')

In [115]:
pd.read_excel(xlsx,'Sheet1')

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [116]:
import requests

In [117]:
url = 'https://api.github.com/repos/pandas_dev/pandas/issues'

In [118]:
resp = requests.get(url)

In [119]:
resp

In [120]:
url ='https://api.github.com/repos/pandas-dev/pandas/issues'

In [121]:
resp = requests.get(url)

In [122]:
resp

In [123]:
data[0]['title']

KeyError: 'title'

In [124]:
data = resp.json()

In [125]:
data[0]['title']

'TST/CLN: engine fixture for tests/io/excel/test_readers.py'

In [126]:
issues = pd.DataFrame(data,columns = ['number','title','labels','state'])

In [127]:
issues

,number,title,labels,state
0,27139,TST/CLN: engine fixture for tests/io/excel/tes...,"[{'id': 211029535, 'node_id': 'MDU6TGFiZWwyMTE...",open
1,27138,Add MultiIndex._data and MultiIndex.array,"[{'id': 35818298, 'node_id': 'MDU6TGFiZWwzNTgx...",open
2,27137,API: ExtensionArray.argsort places the missing...,[],open
3,27136,"PERF, BENCH: Fix performance issue when indexi...",[],open
4,27135,read_json different behaviour when file is os ...,[],open
...,...,...,...,...
25,27099,Join operation takes more time.,[],open
26,27098,DEPR: DatetimeIndex.snap(),"[{'id': 87485152, 'node_id': 'MDU6TGFiZWw4NzQ4...",open
27,27096,Clean Up Testing of Excel Engine Option Settin...,"[{'id': 49254273, 'node_id': 'MDU6TGFiZWw0OTI1...",open
28,27095,Shorter truncated Series/DataFrame repr: intro...,"[{'id': 13101118, 'node_id': 'MDU6TGFiZWwxMzEw...",open
29,27093,Change in column name creates an empty output ...,[],open

In [128]:
import sqlite3

In [129]:
query = """
    CREATE TABLE test(
        a varchar(20),
        b varchar(20),
        c REAL,
        d INTEGER
    );
"""

In [130]:
CON = sqlite3.connect('mydata.sqlite')

In [131]:
CON.execute(query)

In [132]:
con.commit()

NameError: name 'con' is not defined

In [133]:
CON.commit()

In [134]:
data = [('Atlanta','Georgia',1.25,6),
       ('Tallahassee','Florida',2.6,3),
       ('Sacramento','California',1.7,5)]

In [135]:
stmt = "INSERT INTO test VALUES(?,?,?,?)"

In [136]:
CON.executemany(stmt,data)

In [137]:
cursor = CON.execute('select * from test')

In [138]:
rows = cursor.fetchall()

In [139]:
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [140]:
import sqlalchemy as sqla

In [141]:
db = sqla.create_engine('sqlite://mydata.sqlite')

ArgumentError: Invalid SQLite URL: sqlite://mydata.sqlite
Valid SQLite URL forms are:
 sqlite:///:memory: (or, sqlite://)
 sqlite:///relative/path/to/file.db
 sqlite:////absolute/path/to/file.db

In [142]:
db = sqla.create_engine('sqlite:///mydata.sqlite')

In [143]:
pd.read_sql('select * from test',db)

Empty DataFrame
Columns: [a, b, c, d]
Index: []