In [1]:
import pandas as pd
import numpy as np

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

In [3]:
chipo = pd.read_csv(url,sep = '\t')

In [4]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [5]:
chipo.shape[1]

5

In [6]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [7]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [8]:
c = chipo.groupby('item_name')

In [9]:
c = c.sum()
c = c.sort_values(['quantity'],ascending=False)
c.head(5)

                     order_id  quantity
item_name
Chicken Bowl           713926       761
Chicken Burrito        497303       591
Chips and Guacamole    449959       506
Steak Burrito          328437       386
Canned Soft Drink      304753       351

In [10]:
c= chipo.groupby('choice_description').sum()
c = c.sort_values(['quantity'],ascending = False)

In [11]:
c.head(3)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159
[Coke]                122752       143
[Sprite]               80426        89

In [12]:
total_items_orders = chipo.quantity.sum()

In [13]:
total_items_orders

4972

In [14]:
chipo.item_price.dtype

dtype('O')

In [15]:
dollarizer = lambda x:float(x[1:-1])
chipo.item_price = chipo.item_price.apply(dollarizer)

In [16]:
chipo.item_price.type

AttributeError: 'Series' object has no attribute 'type'

In [17]:
chipo.item_price.dtype

dtype('float64')

In [18]:
revenue = (chipo['quantity']*chipo['item_price']).sum()

In [19]:
revenue

39237.02

In [20]:
chipo['order_id'].nunique()

1834

In [21]:
chipo[['order_id','sub_total']].groupby(by=['order_id']).agg({'sub_total':'sum'})['sub_total'].mean()

KeyError: "['sub_total'] not in index"

In [22]:
chipo['sub_total'] = chipe['quantity']*chipo['item_price']

NameError: name 'chipe' is not defined

In [23]:
chipo['sub_total'] = chipo['quantity']*chipo['item_price']

In [24]:
chipo[['order_id','sub_total']].groupby(by=['order_id']).agg({'sub_total':'sum'})['sub_total'].mean()

21.394231188658654

In [25]:
chipo['item_name'].nunique()

50