In [1]:
from datetime import datetime

In [2]:
now = datetime.now()
now

datetime.datetime(2019, 7, 13, 14, 16, 13, 303529)

In [3]:
now.year,now.month,now.day

(2019, 7, 13)

In [4]:
delta = datetime(2011,1,7)-datetime(2008,6,24,8,15)

In [5]:
delta

datetime.timedelta(days=926, seconds=56700)

In [6]:
from datetime import timedelta

In [7]:
start = datetime(2011,1,7)

In [8]:
start+timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [9]:
start - 2*timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

In [10]:
stamp = datetime(2011,1,3)

In [11]:
str(stamp)

'2011-01-03 00:00:00'

In [12]:
stamp.strftime("%Y-%m-%d")

'2011-01-03'

In [13]:
value = '2011-01-03'
datetime=strptime(value,'%Y-%m-%d')

NameError: name 'strptime' is not defined

In [14]:
value = '2011-01-03'
datetime.strptime(value,'%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [15]:
datestrs=['7/6/2011','8/6/2011']

In [16]:
[datetime.strptime(x,'%m/%d%Y') for x in datestrs]

ValueError: time data '7/6/2011' does not match format '%m/%d%Y'

In [17]:
[datetime.strptime(x,'%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [18]:
from dateutil.parser import parse

In [19]:
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [20]:
parse('Jan 31,1997 10:45 PM')

datetime.datetime(2019, 1, 31, 22, 45)

In [21]:
parse('6/12/2011',dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [22]:
datestrs=['2011-07-06 12:00:00','2011-08-06 00:00:00']
pd.to_datetime(datestrs)

NameError: name 'pd' is not defined

In [23]:
import pandas as pd

In [24]:
datestrs=['2011-07-06 12:00:00','2011-08-06 00:00:00']
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [25]:
dates = [datetime(2011,1,2),datetime(2011,1,5),
        datetime(2011,1,7),datetime(2011,1,8),
        datetime(2011,1,10),datetime(2011,1,12)]

In [26]:
import numpy as np

In [27]:
ts = pd.Series(np.random.randn(6),index=dates)

In [28]:
ts

2011-01-02    0.086611
2011-01-05   -0.588221
2011-01-07   -0.607840
2011-01-08    0.163950
2011-01-10   -0.802237
2011-01-12    0.001030
dtype: float64

In [29]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [30]:
ts+ts[::2]

2011-01-02    0.173222
2011-01-05         NaN
2011-01-07   -1.215679
2011-01-08         NaN
2011-01-10   -1.604475
2011-01-12         NaN
dtype: float64

In [31]:
ts.index.dtype

dtype('<M8[ns]')

In [32]:
stamp = ts.index[0]

In [33]:
stamp

Timestamp('2011-01-02 00:00:00')

In [34]:
ts['1/10/2011']

-0.802237366116108

In [35]:
ts['20110110']

-0.802237366116108

In [36]:
longer_ts = pd.Series(np.random.randn(1000),
                      index = pd.date_range('1/1/2000',periods=1000))
longer_ts

2000-01-01   -0.023455
2000-01-02   -0.637504
2000-01-03   -1.202352
2000-01-04    2.320676
2000-01-05   -1.262224
2000-01-06    0.425560
2000-01-07    1.880308
2000-01-08   -0.388491
2000-01-09   -0.249577
2000-01-10   -0.708184
2000-01-11   -0.860646
2000-01-12   -0.582014
2000-01-13    1.795174
2000-01-14    1.269978
2000-01-15   -0.120372
2000-01-16   -1.083788
2000-01-17   -0.284347
2000-01-18    1.091314
2000-01-19   -0.994653
2000-01-20    2.003038
2000-01-21   -2.000559
2000-01-22   -2.130483
2000-01-23   -0.082857
2000-01-24   -0.040607
2000-01-25   -0.240023
2000-01-26    0.634219
2000-01-27   -0.792534
2000-01-28   -0.841685
2000-01-29   -0.521164
2000-01-30    1.228072
                ...
2002-08-28   -0.043677
2002-08-29    0.370207
2002-08-30   -0.849237
2002-08-31    0.345139
2002-09-01    0.123999
2002-09-02    1.464156
2002-09-03   -0.254314
2002-09-04   -2.729046
2002-09-05    0.847025
2002-09-06   -1.159664
2002-09-07   -2.402495
2002-09-08   -0.914291
2002-09-09    1.650268
2002-09-10    0.002230
2002-09-11   -0.077187
2002-09-12    0.500114
2002-09-13    1.067897
2002-09-14   -0.834774
2002-09-15    0.386969
2002-09-16   -0.519119
2002-09-17   -0.928349
2002-09-18    0.952357
2002-09-19    1.523721
2002-09-20   -0.858827
2002-09-21   -0.339640
2002-09-22   -0.572145
2002-09-23    0.356490
2002-09-24    0.956075
2002-09-25    0.926661
2002-09-26   -1.542333
Freq: D, Length: 1000, dtype: float64

In [37]:
longer_ts['2001-05']

2001-05-01    2.199603
2001-05-02    1.426354
2001-05-03    0.144677
2001-05-04    1.216819
2001-05-05    0.348104
2001-05-06    0.777307
2001-05-07   -0.508441
2001-05-08   -0.866096
2001-05-09    0.862804
2001-05-10    0.586302
2001-05-11    0.114965
2001-05-12   -0.112431
2001-05-13    1.368802
2001-05-14   -0.234114
2001-05-15    0.680918
2001-05-16   -0.079218
2001-05-17   -0.920117
2001-05-18    1.117668
2001-05-19    1.462514
2001-05-20   -0.872491
2001-05-21   -0.945696
2001-05-22    0.565536
2001-05-23    0.429235
2001-05-24    1.920547
2001-05-25    0.472239
2001-05-26   -0.145266
2001-05-27   -1.294294
2001-05-28    2.384772
2001-05-29   -1.175232
2001-05-30    0.126056
2001-05-31   -1.377717
Freq: D, dtype: float64

In [38]:
ts[datetime(2011,1,7):]

2011-01-07   -0.607840
2011-01-08    0.163950
2011-01-10   -0.802237
2011-01-12    0.001030
dtype: float64

In [39]:
ts['1/6/2011':'1/11/2011']

2011-01-07   -0.607840
2011-01-08    0.163950
2011-01-10   -0.802237
dtype: float64

In [40]:
ts.truncate(after='1/9/2011')

2011-01-02    0.086611
2011-01-05   -0.588221
2011-01-07   -0.607840
2011-01-08    0.163950
dtype: float64

In [41]:
dates = pd.date_range('1/1/2000',periods=100,freq='W-WED')
long_df = pd.DataFrame(np.random.randn(100,4),index=dates
                       columns=['Colorado','Texas',
                                'New York','Ohio'])

SyntaxError: invalid syntax (<ipython-input-41-c3286a834eef>, line 3)

In [42]:
dates = pd.date_range('1/1/2000',periods=100,freq='W-WED')
long_df = pd.DataFrame(np.random.randn(100,4),index=dates,
                       columns=['Colorado','Texas',
                                'New York','Ohio'])

In [43]:
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02 -1.628276  0.087907  0.728297  1.291510
2001-05-09  0.875941  0.411441  1.529723 -0.188710
2001-05-16 -0.864560  1.398709  0.497213 -0.358306
2001-05-23 -1.965900  1.734503  0.542177 -2.321185
2001-05-30 -0.094666  0.703358  0.275468 -0.287368

In [44]:
dates = pd.DatetimeIndex(['1/1/2000','1/2/2000','1/2/2000',
                         '1/2/2000','1/3/2000'])
dup_ts = pd.Series(np.arange(5),index=dates)

In [45]:
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [46]:
grouped = dup_ts.groupby(level=0)
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

In [47]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

In [48]:
ts

2011-01-02    0.086611
2011-01-05   -0.588221
2011-01-07   -0.607840
2011-01-08    0.163950
2011-01-10   -0.802237
2011-01-12    0.001030
dtype: float64

In [49]:
index = pd.date_range('2012-04-01','2012-06-01')
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [50]:
pd.date_range(start='2012-04-01',periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [51]:
pd.date_range(end='2012-04-01',periods=20)

DatetimeIndex(['2012-03-13', '2012-03-14', '2012-03-15', '2012-03-16',
               '2012-03-17', '2012-03-18', '2012-03-19', '2012-03-20',
               '2012-03-21', '2012-03-22', '2012-03-23', '2012-03-24',
               '2012-03-25', '2012-03-26', '2012-03-27', '2012-03-28',
               '2012-03-29', '2012-03-30', '2012-03-31', '2012-04-01'],
              dtype='datetime64[ns]', freq='D')

In [52]:
from pandas.tseries.offsets import Hour,Minute

In [53]:
hour = Hour()

In [54]:
pd.date_range('2012-04-01','2012-04-02',freq='4h')

DatetimeIndex(['2012-04-01 00:00:00', '2012-04-01 04:00:00',
               '2012-04-01 08:00:00', '2012-04-01 12:00:00',
               '2012-04-01 16:00:00', '2012-04-01 20:00:00',
               '2012-04-02 00:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [55]:
rng = pd.date_range('2012-04-01','2012-04-02',freq='WOM-3FRI')

In [56]:
list(rng)

[]

In [57]:
rng = pd.date_range('2012-04-01','2012-09-02',freq='WOM-3FRI')

In [58]:
list(rng)

[Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

In [59]:
ts = pd.Series(np.random.randn(4),index=pd.date_range('1/1/2000',periods=4,freq='M'))
ts

2000-01-31   -0.456603
2000-02-29    3.275740
2000-03-31    1.118375
2000-04-30   -0.166954
Freq: M, dtype: float64

In [60]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31   -0.456603
2000-04-30    3.275740
Freq: M, dtype: float64

In [61]:
ts.shift(-2)

2000-01-31    1.118375
2000-02-29   -0.166954
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [62]:
ts / ts.shift(1) -1

2000-01-31         NaN
2000-02-29   -8.174155
2000-03-31   -0.658589
2000-04-30   -1.149283
Freq: M, dtype: float64

In [63]:
ts.shift(3,freq='D')

2000-02-03   -0.456603
2000-03-03    3.275740
2000-04-03    1.118375
2000-05-03   -0.166954
dtype: float64

In [64]:
ts.shift(1,freq='90T')

2000-01-31 01:30:00   -0.456603
2000-02-29 01:30:00    3.275740
2000-03-31 01:30:00    1.118375
2000-04-30 01:30:00   -0.166954
Freq: M, dtype: float64

In [65]:
from pandas.tseries.offsets import Day,MonthEnd
now = datetime(2011,11,17)

In [66]:
now +3*Day()

Timestamp('2011-11-20 00:00:00')

In [67]:
now + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [68]:
now + MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [69]:
datetime.now

In [70]:
a = datetime.now()

In [71]:
a

datetime.datetime(2019, 7, 13, 15, 7, 40, 842422)

In [72]:
offset = MonthEnd()

In [73]:
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [74]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [75]:
ts = pd.Series(np.random.randn(20),
               index = pd.date_range('1/15/2001',periods=20.freq='4d'))
ts

SyntaxError: invalid syntax (<ipython-input-75-3420e2a64c98>, line 2)

In [76]:
ts = pd.Series(np.random.randn(20),
               index = pd.date_range('1/15/2001',periods=20,freq='4d'))
ts

2001-01-15   -0.497710
2001-01-19   -1.722900
2001-01-23   -0.609468
2001-01-27   -0.053688
2001-01-31    1.102055
2001-02-04   -0.403453
2001-02-08   -1.207427
2001-02-12   -0.681560
2001-02-16    0.980135
2001-02-20    0.167525
2001-02-24   -0.442861
2001-02-28    0.358341
2001-03-04   -0.659711
2001-03-08    0.680413
2001-03-12    0.248542
2001-03-16    0.970958
2001-03-20    0.947548
2001-03-24    0.128317
2001-03-28    0.119162
2001-04-01   -1.853831
Freq: 4D, dtype: float64

In [77]:
ts.groupby(offset.rollforward).mean()

2001-01-31   -0.356342
2001-02-28   -0.175614
2001-03-31    0.347890
2001-04-30   -1.853831
dtype: float64

In [78]:
ts.resample('M').mean()

2001-01-31   -0.356342
2001-02-28   -0.175614
2001-03-31    0.347890
2001-04-30   -1.853831
Freq: M, dtype: float64

In [79]:
import pytz

In [80]:
rng = pd.date_range('3/9/2012 9:30',periods=6,freq='D')
ts = pd.Series(np.random.randn(len(rng)),index=rng)
ts

2012-03-09 09:30:00    0.962458
2012-03-10 09:30:00    1.694931
2012-03-11 09:30:00   -0.072461
2012-03-12 09:30:00    0.814187
2012-03-13 09:30:00   -0.109925
2012-03-14 09:30:00   -0.562774
Freq: D, dtype: float64

In [81]:
print(ts.index.tz)

None

In [82]:
pd.date_range('3/9/2012 9:30',periods=6,freq='D',tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [83]:
ts

2012-03-09 09:30:00    0.962458
2012-03-10 09:30:00    1.694931
2012-03-11 09:30:00   -0.072461
2012-03-12 09:30:00    0.814187
2012-03-13 09:30:00   -0.109925
2012-03-14 09:30:00   -0.562774
Freq: D, dtype: float64

In [84]:
ts_utc = ts.tz_localize('UTC')
ts_utc

2012-03-09 09:30:00+00:00    0.962458
2012-03-10 09:30:00+00:00    1.694931
2012-03-11 09:30:00+00:00   -0.072461
2012-03-12 09:30:00+00:00    0.814187
2012-03-13 09:30:00+00:00   -0.109925
2012-03-14 09:30:00+00:00   -0.562774
Freq: D, dtype: float64

In [85]:
ts_uct.index

NameError: name 'ts_uct' is not defined

In [86]:
ts_utc.index

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [87]:
ts_utc.tz_convert('America/New_York')

2012-03-09 04:30:00-05:00    0.962458
2012-03-10 04:30:00-05:00    1.694931
2012-03-11 05:30:00-04:00   -0.072461
2012-03-12 05:30:00-04:00    0.814187
2012-03-13 05:30:00-04:00   -0.109925
2012-03-14 05:30:00-04:00   -0.562774
Freq: D, dtype: float64

In [88]:
ts_eastern = ts.tz_localize('America/New_York')
ts_eastern.tz_convert('UTC')

2012-03-09 14:30:00+00:00    0.962458
2012-03-10 14:30:00+00:00    1.694931
2012-03-11 13:30:00+00:00   -0.072461
2012-03-12 13:30:00+00:00    0.814187
2012-03-13 13:30:00+00:00   -0.109925
2012-03-14 13:30:00+00:00   -0.562774
Freq: D, dtype: float64

In [89]:
ts_eastern.tz_convert('Europe/Berlin')

2012-03-09 15:30:00+01:00    0.962458
2012-03-10 15:30:00+01:00    1.694931
2012-03-11 14:30:00+01:00   -0.072461
2012-03-12 14:30:00+01:00    0.814187
2012-03-13 14:30:00+01:00   -0.109925
2012-03-14 14:30:00+01:00   -0.562774
Freq: D, dtype: float64

In [90]:
ts.index.tz_localize('Asia/Shanghai')

DatetimeIndex(['2012-03-09 09:30:00+08:00', '2012-03-10 09:30:00+08:00',
               '2012-03-11 09:30:00+08:00', '2012-03-12 09:30:00+08:00',
               '2012-03-13 09:30:00+08:00', '2012-03-14 09:30:00+08:00'],
              dtype='datetime64[ns, Asia/Shanghai]', freq='D')

In [91]:
stamp = pd.Timestamp('2011-03-12 04:00')

In [92]:
stamp_utc.tz_convert('America/New_York')

NameError: name 'stamp_utc' is not defined

In [93]:
stamp_utc=stamp.tz_localize('utc')

In [94]:
stamp_utc.tz_convert('America/New_York')

Timestamp('2011-03-11 23:00:00-0500', tz='America/New_York')

In [95]:
stamp_moscow = pd.Timestamp('2011-03-12 04:00',tz='Europe/Moscow')

In [96]:
stamp_moscow

Timestamp('2011-03-12 04:00:00+0300', tz='Europe/Moscow')

In [97]:
rn = pd.date_range('3/7/2012 9:30',periods=10,freq='B')

In [98]:
ts = pd.Series(np.random.randn(len(rn)),index=rn)

SyntaxError: unexpected EOF while parsing (<ipython-input-98-8d4779c910b0>, line 1)

In [99]:
ts = pd.Series(np.random.randn(len(rn)),index=rn)

In [100]:
ts

2012-03-07 09:30:00    0.758125
2012-03-08 09:30:00   -0.955571
2012-03-09 09:30:00   -1.204790
2012-03-12 09:30:00   -0.135815
2012-03-13 09:30:00    1.153975
2012-03-14 09:30:00    0.020127
2012-03-15 09:30:00    0.436991
2012-03-16 09:30:00   -0.187518
2012-03-19 09:30:00    0.128274
2012-03-20 09:30:00    0.440238
Freq: B, dtype: float64

In [101]:
ts1 = ts[:7].tz_localize('Europe/London')
ts2 = ts[2:].tz_convert('Europe/Moscow')
result = ts1+ts2

TypeError: Cannot convert tz-naive timestamps, use tz_localize to localize

In [102]:
ts1 = ts[:7].tz_localize('Europe/London')

In [103]:
ts2 = ts[2:].tz_convert('Europe/Moscow')

TypeError: Cannot convert tz-naive timestamps, use tz_localize to localize

In [104]:
ts2 = ts1[2:].tz_convert('Europe/Moscow')

result = ts1+ts2

In [105]:
result = ts1+ts2

In [106]:
result.index

DatetimeIndex(['2012-03-07 09:30:00+00:00', '2012-03-08 09:30:00+00:00',
               '2012-03-09 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='B')