In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame([1.4,np.nan],[7.1,-4.5],[np.nan,np.nan],[0.75,-1.3],
                 index=['a','b','c','d'],columns=['one','two'])

TypeError: __init__() got multiple values for argument 'index'

In [3]:
df = pd.DataFrame([1.4,np.nan],[7.1,-4.5],[np.nan,np.nan],[0.75,-1.3],index=['a','b','c','d'],columns=['one','two'])

TypeError: __init__() got multiple values for argument 'index'

In [4]:
df = pd.DataFrame([1.4,np.nan],[7.1,-4.5],[np.nan,np.nan],[0.75,-1.3]],
                 index=['a','b','c','d'],columns=['one','two'])

SyntaxError: invalid syntax (<ipython-input-4-7152ee9d7bea>, line 1)

In [5]:
df = pd.DataFrame([[1.4,np.nan],[7.1,-4.5],[np.nan,np.nan],[0.75,-1.3]],
                 index=['a','b','c','d'],columns=['one','two'])

In [6]:
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [7]:
df.sum()

one    9.25
two   -5.80
dtype: float64

In [8]:
df.sum(axis = 1)

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

In [9]:
df.sum(axis = 2)

ValueError: No axis named 2 for object type <class 'type'>

In [10]:
df.sum(axis = 0)

one    9.25
two   -5.80
dtype: float64

In [11]:
df.mean(axis='columns',skipna=False)

a      NaN
b    1.300
c      NaN
d   -0.275
dtype: float64

In [12]:
df.mean(axis='columns')

a    1.400
b    1.300
c      NaN
d   -0.275
dtype: float64

In [13]:
df.idxmax()

one    b
two    d
dtype: object

In [14]:
df.cumsum()

    one  two
a  1.40  NaN
b  8.50 -4.5
c   NaN  NaN
d  9.25 -5.8

In [15]:
df.describecribe()

AttributeError: 'DataFrame' object has no attribute 'describecribe'

In [16]:
df.describe()

            one       two
count  3.000000  2.000000
mean   3.083333 -2.900000
std    3.493685  2.262742
min    0.750000 -4.500000
25%    1.075000 -3.700000
50%    1.400000 -2.900000
75%    4.250000 -2.100000
max    7.100000 -1.300000

In [17]:
obj = pd.Series(['a','a','b','c']*4)

In [18]:
obj.describe()

count     16
unique     3
top        a
freq       8
dtype: object

In [19]:
import pandas_datareader.data as web

In [20]:
all_data = {ticker: web.get_data_yahoo(ticker) 
            for tikcer in ['AAPL','IBM','MSFT','GOOG']}

NameError: name 'ticker' is not defined

In [21]:
all_data = {ticker: web.get_data_yahoo(ticker) 
            for ticker in ['AAPL','IBM','MSFT','GOOG']}

In [22]:
price = pd.DataFrame({ticker: data['Adj Close'] for ticker, data in all_data.items()})
volume = pd.DataFrame({ticker: data['Volume'] for ticker,data in all_data.items()})

In [23]:
returns  = price.pct_change()

In [24]:
returns.tail()

                AAPL       IBM      MSFT      GOOG
Date
2019-06-19 -0.002923  0.005133  0.003921 -0.001151
2019-06-20  0.008036  0.012912  0.009286  0.008246
2019-06-21 -0.003409  0.002521  0.000146  0.009411
2019-06-24 -0.001006  0.001078  0.005914 -0.005669
2019-06-25 -0.015158 -0.007104 -0.031572 -0.026149

In [25]:
returns['MSFT'].corr(returns['IBM'])

0.4868533879410785

In [26]:
returns['MSFT'].cov(returns['IBM'])

8.677263843194859e-05

In [27]:
returns.MSFT.corr(returns.IBM)

0.4868533879410785

In [28]:
returns.corr()

          AAPL       IBM      MSFT      GOOG
AAPL  1.000000  0.379156  0.452887  0.460986
IBM   0.379156  1.000000  0.486853  0.402962
MSFT  0.452887  0.486853  1.000000  0.537912
GOOG  0.460986  0.402962  0.537912  1.000000

In [29]:
returns.corr()

          AAPL       IBM      MSFT      GOOG
AAPL  1.000000  0.379156  0.452887  0.460986
IBM   0.379156  1.000000  0.486853  0.402962
MSFT  0.452887  0.486853  1.000000  0.537912
GOOG  0.460986  0.402962  0.537912  1.000000

In [30]:
returns.cov()

          AAPL       IBM      MSFT      GOOG
AAPL  0.000266  0.000076  0.000107  0.000116
IBM   0.000076  0.000152  0.000087  0.000077
MSFT  0.000107  0.000087  0.000209  0.000120
GOOG  0.000116  0.000077  0.000120  0.000239

In [31]:
returns.corrwith(returns.IBM)

AAPL    0.379156
IBM     1.000000
MSFT    0.486853
GOOG    0.402962
dtype: float64

In [32]:
returns.corrwith(volume)

AAPL   -0.062254
IBM    -0.156376
MSFT   -0.090012
GOOG   -0.020549
dtype: float64

In [33]:
obj = pd.Series(['c','a','b','c','a'])

In [34]:
uniques = obj.uni

AttributeError: 'Series' object has no attribute 'uni'

In [35]:
uniques = obj.unique()

In [36]:
uniques

array(['c', 'a', 'b'], dtype=object)

In [37]:
obj.value_counts()

a    2
c    2
b    1
dtype: int64

In [38]:
pd.value_counts(obj.values,sort=Flase)

NameError: name 'Flase' is not defined

In [39]:
pd.value_counts(obj.values,sort=False)

c    2
b    1
a    2
dtype: int64

In [40]:
obj

0    c
1    a
2    b
3    c
4    a
dtype: object

In [41]:
obj[mask]

NameError: name 'mask' is not defined

In [42]:
mask = obj.isin(['b','c'])

In [43]:
obj[mask]

0    c
2    b
3    c
dtype: object

In [44]:
data = pd.DataFrame({'Qu1':[1,3,4,3,4],
                    'Qu2':[2,3,1,2,3],
                    'Qu3':[1,5,2,4,4]})

In [45]:
data

   Qu1  Qu2  Qu3
0    1    2    1
1    3    3    5
2    4    1    2
3    3    2    4
4    4    3    4

In [46]:
result = data.apply(pd.value_counts).fillna(0)

In [47]:
result

   Qu1  Qu2  Qu3
1  1.0  1.0  1.0
2  0.0  2.0  1.0
3  2.0  2.0  0.0
4  2.0  0.0  2.0
5  0.0  0.0  1.0