In [1]:
import numpy as ny
import pandas as pd

In [2]:
string_data = pd.Series(['aaedvark','artichoke',np.nan,'avocado'])

NameError: name 'np' is not defined

In [3]:
import numpy as np

In [4]:
string_data = pd.Series(['aaedvark','artichoke',np.nan,'avocado'])

In [5]:
string_data

0     aaedvark
1    artichoke
2          NaN
3      avocado
dtype: object

In [6]:
string_data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [7]:
string_data[0] = None

In [8]:
string_data.isnull()

0     True
1    False
2     True
3    False
dtype: bool

In [9]:
from numpy import nan as NA

In [10]:
data = pd.Series([1,NA,3.5,NA,7])

In [11]:
data.dropna()

0    1.0
2    3.5
4    7.0
dtype: float64

In [12]:
data[data.notnull()]

0    1.0
2    3.5
4    7.0
dtype: float64

In [13]:
data = pd.DataFrame([[1.,6.5,3.],[1,NA,NA],[NA,NA,NA],[NA,6.5,3.]])

In [14]:
cleaned = data.dropna()

In [15]:
cleaned

     0    1    2
0  1.0  6.5  3.0

In [16]:
data.dropna(how = 'all')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0

In [17]:
data[4] = NA

In [18]:
data

     0    1    2   4
0  1.0  6.5  3.0 NaN
1  1.0  NaN  NaN NaN
2  NaN  NaN  NaN NaN
3  NaN  6.5  3.0 NaN

In [19]:
data.dropna(axis = 1,how = 'all')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [20]:
df = pd.DataFrame(np.random.randn(7,3))

In [21]:
df.iloc[:4,1] = NA

In [22]:
df.iloc[:2,2]=NA

In [23]:
df

          0         1         2
0  0.150014       NaN       NaN
1  0.667532       NaN       NaN
2  0.662097       NaN  1.102756
3  0.477411       NaN  0.541728
4  1.238855 -0.961052 -0.685427
5 -0.964810 -1.550746 -1.050224
6 -0.378982  2.088451  0.675584

In [24]:
df.dropna()

          0         1         2
4  1.238855 -0.961052 -0.685427
5 -0.964810 -1.550746 -1.050224
6 -0.378982  2.088451  0.675584

In [25]:
df.dropna(thresh = 2)

          0         1         2
2  0.662097       NaN  1.102756
3  0.477411       NaN  0.541728
4  1.238855 -0.961052 -0.685427
5 -0.964810 -1.550746 -1.050224
6 -0.378982  2.088451  0.675584

In [26]:
df.fillna(0)

          0         1         2
0  0.150014  0.000000  0.000000
1  0.667532  0.000000  0.000000
2  0.662097  0.000000  1.102756
3  0.477411  0.000000  0.541728
4  1.238855 -0.961052 -0.685427
5 -0.964810 -1.550746 -1.050224
6 -0.378982  2.088451  0.675584

In [27]:
df.fillna(1:0.5,2:0)

SyntaxError: invalid syntax (<ipython-input-27-d71b234126db>, line 1)

In [28]:
df.fillna({1:0.5,2:0})

          0         1         2
0  0.150014  0.500000  0.000000
1  0.667532  0.500000  0.000000
2  0.662097  0.500000  1.102756
3  0.477411  0.500000  0.541728
4  1.238855 -0.961052 -0.685427
5 -0.964810 -1.550746 -1.050224
6 -0.378982  2.088451  0.675584

In [29]:
_ = df.fillna(0,inplace=True)

In [30]:
df

          0         1         2
0  0.150014  0.000000  0.000000
1  0.667532  0.000000  0.000000
2  0.662097  0.000000  1.102756
3  0.477411  0.000000  0.541728
4  1.238855 -0.961052 -0.685427
5 -0.964810 -1.550746 -1.050224
6 -0.378982  2.088451  0.675584

In [31]:
df = pd.DataFrame(np.random.randna(6,3))

AttributeError: module 'numpy.random' has no attribute 'randna'

In [32]:
df = pd.DataFrame(np.random.randn(6,3))

In [33]:
df.iloc[2:,1] = NA

In [34]:
df.iloc[4:,2] = NA

In [35]:
df

          0         1         2
0  0.494163  2.978078 -0.465310
1 -0.574360 -0.873144 -1.132015
2 -0.891507       NaN  0.655384
3 -1.049771       NaN  0.585514
4 -0.638986       NaN       NaN
5 -0.610655       NaN       NaN

In [36]:
df.fillna(method='ffill')

          0         1         2
0  0.494163  2.978078 -0.465310
1 -0.574360 -0.873144 -1.132015
2 -0.891507 -0.873144  0.655384
3 -1.049771 -0.873144  0.585514
4 -0.638986 -0.873144  0.585514
5 -0.610655 -0.873144  0.585514

In [37]:
df.fillna(methon='ffill',limit=2)

TypeError: fillna() got an unexpected keyword argument 'methon'

In [38]:
df.fillna(method='ffill',limit=2)

          0         1         2
0  0.494163  2.978078 -0.465310
1 -0.574360 -0.873144 -1.132015
2 -0.891507 -0.873144  0.655384
3 -1.049771 -0.873144  0.585514
4 -0.638986       NaN  0.585514
5 -0.610655       NaN  0.585514

In [39]:
data = pd.Series([1.,NA,3.5,NA,7])

In [40]:
data.fullna(data.mean())

AttributeError: 'Series' object has no attribute 'fullna'

In [41]:
data.fillna(data.mean())

0    1.000000
1    3.833333
2    3.500000
3    3.833333
4    7.000000
dtype: float64

In [42]:
data = pd.DataFrame({'k1':['one','two']*3+['two'],
                     'k2':[1,1,2,3,3,4,5]})

In [43]:
data

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4
6  two   5

In [44]:
data.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6    False
dtype: bool

In [45]:
data.drop_duplicates()

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4
6  two   5

In [46]:
datat['v1'] = range(7)

NameError: name 'datat' is not defined

In [47]:
data['v1'] = range(7)

In [48]:
data.drop_duplicates('k1')

    k1  k2  v1
0  one   1   0
1  two   1   1

In [49]:
data.drop_duplicates('k2')

    k1  k2  v1
0  one   1   0
2  one   2   2
3  two   3   3
5  two   4   5
6  two   5   6

In [50]:
data.drop_duplicates(['k1','k2'],keep='last')

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
5  two   4   5
6  two   5   6

In [51]:
data = pd.DataFrame({'food':['bacon','pulled pork','Pastrami','corned beef'
                            'pastrami','honey ham','novalox'],
                    'ounces':[4,3,12,4,7.5,8,3,5,6]})

ValueError: arrays must all be same length

In [52]:
data = pd.DataFrame({'food':['bacon','pulled pork','bacon','Pastrami',
                             'corned beef','Bacon',
                            'pastrami','honey ham','novalox'],
                    'ounces':[4,3,12,6,7.5,8,3,5,6]})

ValueError: arrays must all be same length

In [53]:
data = pd.DataFrame({'food':['bacon','pulled pork','bacon','Pastrami',
                             'corned beef','Bacon',
                            'pastrami','honey ham','novalox'],
                    'ounces':[4,3,12,6,7.5,8,3,5,6]})

In [54]:
data

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8      novalox     6.0

In [55]:
meat_to_animal = {'bacon':'pig',}

In [ ]:
meat_to_animal = {'bacon':'pig',
                 'pulled prok':'pig',
                 'pastrami':'cow',
                 'corned beef':''}

In [56]:
meat_to_animal = {'bacon':'pig',
                 'pulled prok':'pig',
                 'pastrami':'cow',
                 'corned beef':'pig',
                 'nove lox':'salmon'}

In [57]:
lowercased = data['food'].str.lower()

In [58]:
lowercased

0          bacon
1    pulled pork
2          bacon
3       pastrami
4    corned beef
5          bacon
6       pastrami
7      honey ham
8        novalox
Name: food, dtype: object

In [59]:
data['animal'] = lowercased.map(meat_to_animal)

In [60]:
data

          food  ounces animal
0        bacon     4.0    pig
1  pulled pork     3.0    NaN
2        bacon    12.0    pig
3     Pastrami     6.0    cow
4  corned beef     7.5    pig
5        Bacon     8.0    pig
6     pastrami     3.0    cow
7    honey ham     5.0    NaN
8      novalox     6.0    NaN

In [61]:
data['food'].map(lambda x: meat_to_animal[x.lower()])

KeyError: 'pulled pork'

In [62]:
meat_to_animal = {'bacon':'pig',
                 'pulled pork':'pig',
                 'pastrami':'cow',
                 'corned beef':'pig',
                 'nove lox':'salmon'}

In [63]:
data['food'].map(lambda x: meat_to_animal[x.lower()])

KeyError: 'honey ham'

In [64]:
meat_to_animal = {'bacon':'pig',
                 'pulled pork':'pig',
                 'pastrami':'cow',
                 'corned beef':'pig',
                  'honey ham':'pig'
                 'novalox':'salmon'}

SyntaxError: invalid syntax (<ipython-input-64-d9197235a4fb>, line 6)

In [65]:
meat_to_animal = {'bacon':'pig',
                 'pulled pork':'pig',
                 'pastrami':'cow',
                 'corned beef':'pig',
                  'honey ham':'pig',
                 'novalox':'salmon'}

In [66]:
data['food'].map(lambda x: meat_to_animal[x.lower()])

0       pig
1       pig
2       pig
3       cow
4       pig
5       pig
6       cow
7       pig
8    salmon
Name: food, dtype: object

In [67]:
data = pd.Series([1.,-999.,2.,-999.,-1000.,3.])

In [68]:
data

0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       3.0
dtype: float64

In [69]:
data.replace(-999,np.nan)

0       1.0
1       NaN
2       2.0
3       NaN
4   -1000.0
5       3.0
dtype: float64

In [1]:
data.replace([-999,-1000],)

NameError: name 'data' is not defined

In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.DataFrame(np.arange(12).reshape(3,4),
                   index=['Ohio','Colorado','New York'],
                   columns=['one','two','three','four'])

In [4]:
transform = lambda x:x[:4].upper()

In [5]:
dara.index.map(transform)

NameError: name 'dara' is not defined

In [6]:
data.index.map(transform)

Index(['OHIO', 'COLO', 'NEW '], dtype='object')

In [7]:
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

In [8]:
data.rename(index=str.title,cloumns=str.upper)

TypeError: rename() got an unexpected keyword argument "cloumns"

In [9]:
data.rename(index=str.title,columns=str.upper)

          ONE  TWO  THREE  FOUR
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

In [10]:
ages = [20,22,25,27,21,23,37,31,61,45,41,32]

In [11]:
bins = [18,25,35,60,100]

In [12]:
cat = pd.cut(ages,bins)

In [13]:
cats

NameError: name 'cats' is not defined

In [14]:
cat

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

In [15]:
cat.codes

array([0, 0, 0, 1, 0, 0, 2, 1, 3, 2, 2, 1], dtype=int8)

In [16]:
cat.categories

IntervalIndex([(18, 25], (25, 35], (35, 60], (60, 100]],
              closed='right',
              dtype='interval[int64]')

In [17]:
pd.value_counts(cat)

(18, 25]     5
(35, 60]     3
(25, 35]     3
(60, 100]    1
dtype: int64

In [18]:
pd.cut(ages,[18,26,36,61,100],right=False)

[[18, 26), [18, 26), [18, 26), [26, 36), [18, 26), ..., [26, 36), [61, 100), [36, 61), [36, 61), [26, 36)]
Length: 12
Categories (4, interval[int64]): [[18, 26) < [26, 36) < [36, 61) < [61, 100)]

In [19]:
group_names=['Youth','YoungAdult','MiddleAged','Senior']

In [20]:
pd.cut(ages.bins.labels=group_names)

SyntaxError: keyword can't be an expression (<ipython-input-20-fc8e07024fee>, line 1)

In [21]:
pd.cut(ages,bins,labels=group_names)

[Youth, Youth, Youth, YoungAdult, Youth, ..., YoungAdult, Senior, MiddleAged, MiddleAged, YoungAdult]
Length: 12
Categories (4, object): [Youth < YoungAdult < MiddleAged < Senior]

In [22]:
data = np.random.randn(1000)

In [23]:
cats = pd.qcut(data,4)

In [24]:
cats

[(-3.235, -0.732], (0.607, 3.148], (-3.235, -0.732], (-3.235, -0.732], (-3.235, -0.732], ..., (-0.0755, 0.607], (0.607, 3.148], (-0.732, -0.0755], (-0.732, -0.0755], (0.607, 3.148]]
Length: 1000
Categories (4, interval[float64]): [(-3.235, -0.732] < (-0.732, -0.0755] < (-0.0755, 0.607] < (0.607, 3.148]]

In [25]:
pd.value_counts(cats)

(0.607, 3.148]       250
(-0.0755, 0.607]     250
(-0.732, -0.0755]    250
(-3.235, -0.732]     250
dtype: int64

In [26]:
data = pd.DataFrame(np.random.randn(1000,4))

In [27]:
data

            0         1         2         3
0   -0.391351  0.451426 -0.974863 -1.786555
1    1.095690  0.356423  0.470206 -0.647201
2    1.429092 -0.246552  0.698259 -1.112936
3    0.117741  0.112133 -0.161495  1.333619
4   -0.314041  0.689836  0.845695  1.564270
5   -0.151625  1.565681  1.883497  1.445790
6   -1.102058 -0.491927 -0.716517 -0.382285
7    0.519181 -0.437683  1.037914  1.078049
8    1.262028 -0.185653 -1.380528  1.608285
9   -1.227304 -1.304716  0.081483  0.496939
10  -0.075727  0.934835  0.450939 -0.573853
11   1.408575 -1.076562 -0.219047 -0.268990
12   0.430526 -0.217747 -0.735986  0.769091
13  -0.351217  0.477231 -1.453896  0.638048
14   0.910928 -0.371377  1.060644  0.071911
15  -1.115377  0.098076  0.296927 -1.235619
16  -0.211459  1.027892  0.495245 -0.823240
17   0.408237 -1.289489 -1.683016 -0.203026
18   0.127022 -0.505289 -0.334323 -0.045977
19   0.475523  0.606457 -0.266431  0.188653
20  -0.290233  1.269653 -0.549393  0.555765
21   0.031020 -1.119818 -0.804490 -1.780886
22   1.022142  0.007893 -0.503258 -1.006524
23   0.304612 -0.081774  0.512510  1.223712
24  -0.369688  0.461097  0.301489  0.887191
25   1.665154  0.792704 -0.005199  0.389650
26  -0.793179  1.453580 -2.478932  0.158915
27   0.791761  0.270354 -1.172508  0.117844
28   1.473260  0.380004  0.129903 -0.528956
29  -1.204265 -2.247383  0.106844  0.835411
..        ...       ...       ...       ...
970 -2.242592 -2.608295  3.332011 -0.271530
971 -1.839881  0.708082  0.053901 -1.079766
972  2.371596 -1.236960 -2.453985 -1.234448
973 -0.858706  0.150345  0.640119  1.051642
974  1.395077 -1.011416 -0.933990 -0.078162
975  0.772876 -0.555489 -1.580060  1.216205
976 -0.471046 -2.182731  0.197770  1.253755
977  0.547231 -0.318533 -1.638669 -0.866531
978 -0.940503  1.156990  1.336582  0.739693
979 -0.053941  0.435117 -0.571736 -0.223474
980 -0.162152 -2.059124 -1.538871  1.168682
981  0.878480 -0.919053 -1.974427 -0.365512
982 -2.233587  1.179821  0.929832  0.744977
983 -0.673640 -0.400936  0.105700  0.023991
984  1.874073  1.183114 -1.443959  1.849468
985 -0.801416  0.179210 -0.128289 -0.322068
986 -0.070131 -0.900959  0.704569  0.109451
987  0.245559 -0.508744 -0.952579  0.920827
988 -0.704571  0.392742  1.619014  0.326444
989 -0.088175  0.282226 -1.064122 -0.171434
990  1.160687 -1.062419 -2.206363 -0.745506
991 -0.578287  1.057665 -0.778233 -1.547887
992  2.628209 -0.570998  0.169176 -0.454706
993 -1.109192  0.312365  0.382648  0.121614
994  1.593155  0.219232  0.011970  0.538462
995  1.859586 -0.764897 -1.125854  0.195395
996 -2.095511 -0.762466  1.131692  3.196429
997 -1.620402 -0.930851 -0.623889  0.818885
998 -0.138780  0.819527  0.201177 -2.723097
999 -0.594921 -1.416516  0.046553  1.593781

[1000 rows x 4 columns]

In [28]:
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.010606    -0.004591    -0.007386     0.036097
std       1.014737     0.982192     1.030314     1.001565
min      -3.450780    -3.277880    -3.170743    -2.723097
25%      -0.661143    -0.656189    -0.709316    -0.689036
50%      -0.017774    -0.005767    -0.000412     0.024120
75%       0.661107     0.693774     0.646082     0.712366
max       2.897301     2.710495     3.539863     4.450822

In [29]:
col = data[2]

In [30]:
col[np.abs(col)>3]

149    3.141104
394    3.100518
631    3.539863
688   -3.170743
970    3.332011
Name: 2, dtype: float64

In [31]:
data[(np.abs(col)>3).any(1)]

ValueError: No axis named 1 for object type <class 'type'>

In [32]:
data[(np.abs(data)>3).any(1)]

            0         1         2         3
68   2.292508  0.864723  0.221555  4.450822
149  0.126896 -0.490173  3.141104 -2.385347
288 -3.031038 -0.233914 -1.059255  0.953355
296 -3.450780 -1.120629 -0.669619 -0.144822
394 -1.462052  0.779211  3.100518 -0.134096
466  0.102973 -3.277880  0.785466  0.572955
631  0.300922 -0.672803  3.539863  0.603756
632  0.541827 -0.130479  0.403520  3.400659
647  0.468876 -3.089544 -1.428430  0.078670
688  1.185627 -0.299290 -3.170743 -1.568593
777  0.273763  0.904627  0.121042  3.053671
858 -0.016874 -3.032999 -0.071053  0.906104
970 -2.242592 -2.608295  3.332011 -0.271530
996 -2.095511 -0.762466  1.131692  3.196429

In [33]:
df = pd.DataFrame(np.arange(5*4).reshape((5,4)))

In [34]:
sampler = np.random.permutation(5)

In [35]:
sampler

array([2, 1, 0, 3, 4])

In [36]:
array([3,1,4,2,0])

NameError: name 'array' is not defined

In [37]:
df

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [38]:
df.sample(n=3)

    0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [39]:
choices=pd.Series([5,7,-1,6,4])

In [40]:
draws = choices.sample(n=10,replace=True)

In [41]:
draws

2   -1
1    7
4    4
2   -1
3    6
3    6
0    5
3    6
4    4
2   -1
dtype: int64

In [42]:
df = pd.DataFrame({'key':['b','b','a','c','a','b'],'data1':range(6)})

In [43]:
pf.get_dummies(df['key'])

NameError: name 'pf' is not defined

In [44]:
df.get_dummies(df['key'])

AttributeError: 'DataFrame' object has no attribute 'get_dummies'

In [45]:
pd.get_dummies(df['key'])

   a  b  c
0  0  1  0
1  0  1  0
2  1  0  0
3  0  0  1
4  1  0  0
5  0  1  0

In [46]:
dummies = pd.get_dummies(df['key'],prefix='key')

In [47]:
df_with_dummy=df[['data1']].join(dummies)

In [48]:
df_with_dummy

   data1  key_a  key_b  key_c
0      0      0      1      0
1      1      0      1      0
2      2      1      0      0
3      3      0      0      1
4      4      1      0      0
5      5      0      1      0

In [49]:
mnames = ['movie_id','title','genres']

In [50]:
movies=pd.read_table('datasets/movielens/movies.dat',sep='::')

D:\Software\Anaconda\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.
D:\Software\Anaconda\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [51]:
movies[:10]

    1                    Toy Story (1995)   Animation|Children's|Comedy
0   2                      Jumanji (1995)  Adventure|Children's|Fantasy
1   3             Grumpier Old Men (1995)                Comedy|Romance
2   4            Waiting to Exhale (1995)                  Comedy|Drama
3   5  Father of the Bride Part II (1995)                        Comedy
4   6                         Heat (1995)         Action|Crime|Thriller
5   7                      Sabrina (1995)                Comedy|Romance
6   8                 Tom and Huck (1995)          Adventure|Children's
7   9                 Sudden Death (1995)                        Action
8  10                    GoldenEye (1995)     Action|Adventure|Thriller
9  11      American President, The (1995)          Comedy|Drama|Romance

In [52]:
all_genres = []

In [53]:
for x in movies.genres:
    all_genres.extend(x.split('|'))

AttributeError: 'DataFrame' object has no attribute 'genres'

In [54]:
movies=pd.read_table('datasets/movielens/movies.dat',sep='::',header=None,names=mnames)

D:\Software\Anaconda\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.
D:\Software\Anaconda\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [55]:
movies[:10]

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy
5         6                         Heat (1995)         Action|Crime|Thriller
6         7                      Sabrina (1995)                Comedy|Romance
7         8                 Tom and Huck (1995)          Adventure|Children's
8         9                 Sudden Death (1995)                        Action
9        10                    GoldenEye (1995)     Action|Adventure|Thriller

In [56]:
for x in movies.genres:
    all_genres.extend(x.split('|'))

In [57]:
genres = pd.unique(all_genres)

In [58]:
genres

array(['Animation', "Children's", 'Comedy', 'Adventure', 'Fantasy',
       'Romance', 'Drama', 'Action', 'Crime', 'Thriller', 'Horror',
       'Sci-Fi', 'Documentary', 'War', 'Musical', 'Mystery', 'Film-Noir',
       'Western'], dtype=object)

In [59]:
zero_matrix=np.zeros(len(movies),len(genres))

TypeError: data type not understood

In [60]:
zero_matrix=np.zeros((len(movies),len(genres)))

In [61]:
dummies = pd.DataFrame(zero_matrix,cloumns=genres)

TypeError: __init__() got an unexpected keyword argument 'cloumns'

In [62]:
dummies = pd.DataFrame(zero_matrix,columns=genres)

In [63]:
gen.split('|')

NameError: name 'gen' is not defined

In [64]:
gen = movies.genres[0]

In [65]:
gen.split('|')

['Animation', "Children's", 'Comedy']

In [66]:
for i,gen in enymerate(movies.genres):
    indices = dummies.columns.get_indexer(gen.split('|'))
    dummies.iloc[i,indices] = 1

NameError: name 'enymerate' is not defined

In [67]:
for i,gen in enumerate(movies.genres):
    indices = dummies.columns.get_indexer(gen.split('|'))
    dummies.iloc[i,indices] = 1

movies_windic = movies.join(dummies.add_prefix('Genre_'))

In [68]:
movies_windic = movies.join(dummies.add_prefix('Genre_'))

In [69]:
movies_windic.iloc[0]

movie_id                                       1
title                           Toy Story (1995)
genres               Animation|Children's|Comedy
Genre_Animation                                1
Genre_Children's                               1
Genre_Comedy                                   1
Genre_Adventure                                0
Genre_Fantasy                                  0
Genre_Romance                                  0
Genre_Drama                                    0
Genre_Action                                   0
Genre_Crime                                    0
Genre_Thriller                                 0
Genre_Horror                                   0
Genre_Sci-Fi                                   0
Genre_Documentary                              0
Genre_War                                      0
Genre_Musical                                  0
Genre_Mystery                                  0
Genre_Film-Noir                                0
Genre_Western                                  0
Name: 0, dtype: object

In [70]:
np.random.seed(12345)

In [71]:
values = np.random.rand(10)

In [72]:
values

array([0.92961609, 0.31637555, 0.18391881, 0.20456028, 0.56772503,
       0.5955447 , 0.96451452, 0.6531771 , 0.74890664, 0.65356987])

In [73]:
bins = [0,0.2,0.4,0.6,0.8,1]

In [74]:
pd.get_dummies(pd.cut(values,bins))

   (0.0, 0.2]  (0.2, 0.4]  (0.4, 0.6]  (0.6, 0.8]  (0.8, 1.0]
0           0           0           0           0           1
1           0           1           0           0           0
2           1           0           0           0           0
3           0           1           0           0           0
4           0           0           1           0           0
5           0           0           1           0           0
6           0           0           0           0           1
7           0           0           0           1           0
8           0           0           0           1           0
9           0           0           0           1           0

In [75]:
val = 'a,b , guido'

In [76]:
val.split(',')

['a', 'b ', ' guido']

In [77]:
pieces = [x.strip() for x in val.split(',')]

In [78]:
pieces

['a', 'b', 'guido']

In [79]:
first,second,third = pieces

In [80]:
first+'::'+second+'::'+third

'a::b::guido'

In [81]:
import re

In [82]:
text= "foo   bar\t baz  \tqux"

In [83]:
re.split('\s+',text)

['foo', 'bar', 'baz', 'qux']

In [84]:
regex = re.compile('\s+')

In [85]:
regex.split(text)

['foo', 'bar', 'baz', 'qux']

In [86]:
regex.findall(text)

['   ', '\t ', '  \t']

In [87]:
text = """Dave dave@google.com
Steve steve@gmail.com
Rob rob@gmail.com
Ryan ryan@yahoo.com
"""

In [88]:
pattern=r'[A-Z0-0._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}'

In [89]:
regex = re.compile(pattern,flags=re.IGNORECASE)

In [90]:
regex

re.compile(r'[A-Z0-0._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}', re.IGNORECASE|re.UNICODE)

In [91]:
regex.findall(text)

['dave@google.com', 'steve@gmail.com', 'rob@gmail.com', 'ryan@yahoo.com']

In [92]:
m = regex.search(text)

In [93]:
m

In [94]:
text[m.start():m.end]

TypeError: slice indices must be integers or None or have an __index__ method

In [95]:
text[m.start():m.end()]

'dave@google.com'

In [96]:
print(regex.sub('REDACTED',text))

Dave REDACTED
Steve REDACTED
Rob REDACTED
Ryan REDACTED

In [97]:
data = {'Dave':'dave@google.com','Steve':'steve@gmail.com','rob':'rob@gamil.com'}

In [98]:
data = pd.Series(data)

In [99]:
data

Dave     dave@google.com
Steve    steve@gmail.com
rob        rob@gamil.com
dtype: object

In [100]:
data = {'Dave':'dave@google.com','Steve':'steve@gmail.com','rob':'rob@gamil.com','Wes':np.nan}

In [101]:
data = pd.Series(data)

In [102]:
data

Dave     dave@google.com
Steve    steve@gmail.com
rob        rob@gamil.com
Wes                  NaN
dtype: object

In [103]:
data.isnull()

Dave     False
Steve    False
rob      False
Wes       True
dtype: bool

In [104]:
data.str.contains('gmail')

Dave     False
Steve     True
rob      False
Wes        NaN
dtype: object

In [105]:
pattern

'[A-Z0-0._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,4}'

In [106]:
data.str.findall(pattern,flags=re.IGNORECASE)

Dave     [dave@google.com]
Steve    [steve@gmail.com]
rob        [rob@gamil.com]
Wes                    NaN
dtype: object

In [107]:
pattern ='([A-Z0-0._%+-]+@[A-Z0-9.-]+)\\.[A-Z]{2,4}'

In [108]:
data.str.findall(pattern,flags=re.IGNORECASE)

Dave     [dave@google]
Steve    [steve@gmail]
rob        [rob@gamil]
Wes                NaN
dtype: object

In [109]:
matches=data.str.match(pattern,flags=re.IGNORECASE)

In [110]:
matches

Dave     True
Steve    True
rob      True
Wes       NaN
dtype: object

In [111]:
matches.str.get(1)

Dave    NaN
Steve   NaN
rob     NaN
Wes     NaN
dtype: float64

In [112]:
data.str[:5]

Dave     dave@
Steve    steve
rob      rob@g
Wes        NaN
dtype: object